global
  # maxconn 4096
  daemon
  user nobody
  group nobody
  log 127.0.0.1 local1 debug
  stats timeout 2m

defaults
  # maxconn 4096
  option httplog
  log global
  option redispatch
  timeout connect 5s
  timeout client 30s
  timeout server 30s
  timeout http-request 10s


frontend public
  bind :80
  mode http
  tcp-request inspect-delay 5s
  tcp-request content accept if HTTP

  default_backend be_default


backend be_default
  mode http
  option redispatch
  option forwardfor
  balance source
  timeout check 5000ms
  server server_node1 10.0.0.4:80 check inter 5000ms weight 100
  server server_node2 10.0.0.5:80 check inter 5000ms weight 100
  server server_node3 10.0.0.6:80 check inter 5000ms weight 100
